html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: Avo, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    background: url('./images/bg-main.png')!important;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 1.6rem;
    letter-spacing: 1px;
    width: 100%;
    height: auto;
}

@font-face {
    font-family: 'Avo';
    src: url('fonts/UTMAvo.eot');
    src: url('fonts/UTMAvo.eot?#iefix') format('embedded-opentype'),
        /* url('fonts/UTMAvo.woff2') format('woff2'),
        url('fonts/UTMAvo.woff') format('woff'), */
        url('fonts/UTMAvo.ttf') format('truetype'),
        url('fonts/UTMAvo.svg#fonts/UTMAvo') format('svg');
    font-weight: normal;
    font-style: normal;
}