@media (min-width: 1024px) {
    .form-login {
        position: absolute;
        background: rgba(246, 247, 248, 0.95);
        border-radius: 5px;
        margin: 0 auto;
        padding: 50px;
        width: 36%;
        z-index: 9999;
        left: 50%; 
        transform: translate(-50%, -550px);
        opacity: 0;
    }
    .move {
        transform: translate(-50%, 30px);
        transition: 0.3s;
        opacity: 1;
    }
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin-top: calc(50% - 50vw);
        margin-left: calc(50% - 50vw);
        /* background-color: rgba(0, 0, 0, 0.7); */
        z-index: -1;
    }
    .form-login .login-input {
        margin-bottom: 30px;
    }
    .form-login .login-input label {
        margin-right: 10px;
        flex: 0 0 90px;
    }
    .form-login .login-input input {
        width: 100%;
        height: 50px;
        padding: 0 15px;
        font-size: 16px;
        color: #000;
        border-radius: 3px;
    }
    .form-login .btn-login {
        width: 40%;
        margin: 0 auto;
        background: #05946a;
        color: #fff;
        border: 0;
        height: 55px;
    }
    .form-login .register {
        margin: 20px 0;
        text-align: center;
        
    }
    .form-login .register span {
        display: block;
        margin-bottom: 10px;
    }
    .form-login .register a {
        color: black;
    }
    .form-login .login-social {
        padding-top: 20px;
        border-top: 1px solid #ccc;
        text-align: center;
    }
    .form-login .login-social a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin: 15px 5px;
        border-radius: 50%;
    }
    .form-login .login-social a:nth-child(1) {
        background: #4267b2;
    }
    .form-login .login-social a:nth-child(2) {
        background: #df4a31;
    }
    .form-login .login-social a:nth-child(3) {
        background: #3489c9;
    }
    .form-login .login-social a i {
        text-align: center;
        color: white;
        width: 22px;
        height: 22px;
        margin-left: 0px;
    }
    .button-login button {
        transition: 0.5s;
        cursor: pointer;
    }
    .button-login button:hover {
        background: rgb(37, 35, 35);
        color: white;
    }
    .intro-desc {
        padding: 60px 0 0 30px;
    }
    .ss-intro .intro-desc h1::after  {
        top: 70%;
        height: 100%;
    }
    .intro-desc i {
        color: white;
    }
    .desc {
        margin-top: 65px;
        font-size: 17px;
    }
    .img-head {
        flex: 0 0 35%;
        z-index: 4;
    }
    .ss-intro {
        background-size: contain;
        padding: 120px 0;
        margin-top: -60px;
        background-position: 25vw center;
    }
    .ss-product {
        position: relative;
        margin-bottom: 250px;
        background-image: url('./images/bg-s1-left.png');
        background-repeat: no-repeat;
    }
    .ss-product::before {
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        content: "";
        background-image: url('./images/bg-s1-left.png');
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 112%;
        background-position-y: 165%;
        z-index: -1;
    }
    .white {
        transition-property: background,color;
        transition-duration: 0.25s;
        cursor: pointer;
    }
    .white:hover {
        background: #2d2a2a;
        color: white;
    } 
    .black {
        transition-property: background,color;
        transition-duration: 0.25s;
        cursor: pointer;
    }
    .black:hover {
        border: 1px solid black;
        background: none;
        color: black;
    } 
    .product-wrap1 .white {
        transition-property: background,color;
        transition-duration: 0.25s;
        cursor: pointer;
    }
    .product-wrap1 .white:hover {
        background:#05946a;
        color: white;
        border: 0px;
    }
    .product-wrap1 .green {
        transition-property: background,color;
        transition-duration: 0.25s;
        cursor: pointer;
    }
    .product-wrap1 .green:hover {
        border: 1px solid black;
        background: none;
        color: black;
    }  
    .product-wrap .product-info {
        margin-right: 30px;
    } 
    .product-wrap1 .product-info {
        margin-left: 30px;
    } 
    .product-wrap1 .product-des {
        text-align-last: left;
    } 
    .product-des {
        text-align-last: right;
        margin: 15px 0 50px;
        font-size: 17px;
    }  
    .product-wrap {
        margin-top: 100px;
    }  
    .product-wrap1 {
        margin-top: 100px;
    }
    .ss-guide figcaption {
        font-size: 17px;
    }
    .footer-bg {
        padding: 80px 0;
        padding-bottom: 50px;
    } 
    .footer-bg .mw-content {
        padding-right: 100px;
        padding-left: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-logo {
        width: 30%;
        margin: 0 0 40px;
    }
    .footer-home {
        display: flex;
    }
    .footer-home.mw-content {
        padding-right: 100px;
        padding-left: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-intro {
        flex: 0 0 30%;
        font-size: 15px;
    }
    .footer-info {
        flex: 0 0 35%;
        margin-left: 50px;
    }
    .footer-bg .footer-info p {
        margin-bottom: 20px;
    }
    .footer-info p:nth-child(3) {
        align-items: flex-start;
    }
    .footer-email {
        margin-left: 50px;
        width: 300px;
    }
    .footer-info a {
        font-size: 15px;
    }
    .pos-rel .w-full {
        width: 80%;
    }
    .w-full .icon-cls {
        z-index: 4;
    }
    input {
        height: 40px;
    }
    .footer-email span {
        font-size: 1rem;
    }
    .footer-bg .footer-email button {
        right :-13px;
        width: 42px;
        height: 42px;
    }
    .footer-bg .footer-email .btn-face {
        width: 30px;
        height: 30px;
    }
    .footer-wrap ul li a {
        font-size: 0.85rem;
    }
    .footer-wrap ul {
        align-items: center;
    }
    .footer-wrap p {
        font-size: 0.85rem;
    }
    .footer-wrap.mw-content {
        display: flex;
        justify-content: space-between;
        height: 50px;
    }
    .footer-wrap.mw-content ul li:nth-child(1) {
        padding-left: 0;
        padding-right: 30px;
    }
    .footer-wrap.mw-content ul li:nth-child(2) {
        padding-left: 30px;
    }
    .copyright {
        margin-top: 0;
        display: flex;
        align-items: center;
    }
}
