/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


.form-login {
    position: absolute;
    background: rgba(246, 247, 248, 0.95);
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px 20px;
    width: 83%;
    z-index: 999;
    left: 10px; 
    transform: translate(-50%, -550px);
}
.move {
    transform: translateY(80px);
    transition: 0.5s;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin-top: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    /* background-color: rgba(0, 0, 0, 0.7); */
    z-index: -1;
}
.form-login .login-input {
    margin-bottom: 30px;
}
.form-login .login-input label {
    margin-right: 10px;
    flex: 0 0 90px;
}
.form-login .login-input input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    color: #000;
    border-radius: 3px;
}
.form-login .btn-login {
    width: 40%;
    margin: 0 auto;
    background: #05946a;
    color: #fff;
    border: 0;
    height: 45px;
}
.form-login .register {
    margin: 20px 0;
    text-align: center;
    
}
.form-login .register span {
    display: block;
    margin-bottom: 10px;
}
.form-login .register a {
    color: black;
}
.form-login .login-social {
    padding-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}
.form-login .login-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 15px 5px;
    border-radius: 50%;
}
.form-login .login-social a:nth-child(1) {
    background: #4267b2;
}
.form-login .login-social a:nth-child(2) {
    background: #df4a31;
}
.form-login .login-social a:nth-child(3) {
    background: #3489c9;
}
.form-login .login-social a i {
    text-align: center;
    color: white;
    width: 22px;
    height: 22px;
    margin-left: 0px;
}
  .head-home {
      display: flex;
      align-items: center;
    justify-content: flex-end;
      width: 90%;
      height: 55px;
      padding: 5%;
  }
  .button-login {

  }
  .login {
    height: 30px;
    color: #091c16;
    background: rgba(248, 248, 250, 0.5);
    border: 0;
    padding: 0 15px;
    font-size: 1.1rem;
  }
.btn-cart {
    height: 55px;
    width: 60px;
}
.icon-cls {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.ss-intro {
    background: url('./images/bg-head.png');
    background-size: 150% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.ss-intro .intro-desc h1::after {
    content: '';
    position: absolute;
    top: 40%;
    right: 0;
    width: 100%;
    height: 80%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px 4px 0 0;
}
.mw-content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
.img-head {
    width: 100%;
    display: none;
}
.img-head img {
    max-width: 100%;
}
.w-full {
    display: flex;
    justify-content: center;
    position: relative;
}
.w-full .icon-cls{
    margin-left: 0px;
    width: 290px;
}
.desc {
    margin-top: 30px;
    color: #eceef5;
    text-align: justify;
}
.ss-product {
    margin-bottom: 100px;
    width: 100%;
}
.product-wrap {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
}
.product-wrap1 {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
}
.product-img {
    display: block;
    width: 60%;
    margin: 20px auto 10px;
}
.product-img img {
    max-width: 100%;
}
.product-info {
    text-align: center;
}
.product-title {
    font-size: 1.1rem;
}
.product-title b {
    font-weight: bold;
}
.product-des {
    text-align: justify;
    margin: 10px 0 20px;
}
.btn-wrap a {
    text-decoration: none;
    display: inline-block;
    width: 40%;
    height: 45px;
    margin: 10px 5px;
}
button {
    font-family: Avo;
    background: transparent;
    border: 1px solid #2d2a2a;
    padding: 0 15px;
    font-size: 1rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.white {
    width: 100%;
    height: 100%;
}
.white:hover {
    background: black;
}
.black {
    width: 100%;
    height: 100%;
    background: #2d2a2a;
    color: #fff;
    border: 0;
}
.green {
    width: 100%;
    height: 100%;
    background: #05946a;
    color: #fff;
    border: 0;
}
.ss-guide {
    background: #00976a;
    padding: 80px 0;
}
.ss-guide figure {
    display: block;
    width: 65%;
    margin: 0 auto;
}
figure img {
    display: block;
    max-width: 100%;
}
.img-guide figure figcaption {
    color: #bef3e3;
    text-align: center;
    margin-top: 20px;
}
.img-guide {
    text-align: center;
}
.ss-guide svg {
    width: 25%;
    margin: 30px 0;
}
.ss-guide .img-text {
    display: none;
}
.footer-bg {
    background: #ebecf0;
    padding: 50px 0;
}
.footer-logo {
    display: flex;
    width: 80%;
    margin: 0 auto 20px;
}
.footer-logo i {
    width: 100%;
    height: 100%;
    color: black;
    margin-left: 0;
}
.footer-bg .footer-intro {
    margin-bottom: 40px;
    text-align: justify;
}
.footer-bg .footer-info {
    margin-bottom: 40px;
}
.footer-bg .footer-info p {
    margin-bottom: 10px;
}
.flex {
    display: flex;
}
.flex.mid {
    align-items: center;
}
.flex.center {
    justify-content: center;
}
.footer-bg .footer-info p i {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    margin-right: 10px;
    display: inline-block;
}
.footer-bg .footer-info p a {
    color: #000;
    text-decoration: none;
    text-align: justify;
}
.pos-rel {
    position: relative;
}
.pos-rel .w-full {
    width: 90%;
}
.footer-bg .footer-email input {
    background: transparent;
    border-radius: 0;
    margin-bottom: 20px;
}
input {
    font-family: Avo;
    height: 38px;
    outline: none;
    border: 1px solid #707070;
    font-size: 16px;
    color: #000;
    padding: 0 15px;
}
.footer-bg .footer-email button {
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
}
.footer-bg .footer-email button .black {
    background: #2d2a2a;
    color: #fff;
    border: 0;
}
.pos-abs {
    position: absolute;
}
.footer-bg .footer-email button i {
    color: #fff;
    width: 20px;
    height: 20px;
}
.footer-bg .footer-email button .icon-cls {
    margin-left: 0;
}
.footer-bg .footer-email .btn-face {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #4267b2;
    margin: 0 2px 0 auto;
    justify-content: center;
}
.footer-bg .footer-email .btn-face i {
    width: 18px;
    height: 18px;
    color: white;
    margin-left: 0;
}
.footer-wrap {
    font-size: .7rem;
}
.footer-wrap ul li {
    padding-left: 10px;
}
.footer-wrap.mw-content ul li:nth-child(1) {
    padding-left: 0;
    padding-right: 10px;
}
.footer-wrap.mw-content ul li:nth-child(2) {
    padding-left: 10px;
}

.footer-wrap ul .a {
    padding-right: 10px;
    border-right: 1px solid #000;
}
.footer-wrap.mw-content ul li a {
    font-size: 10.5px;
    color: #000;
    text-decoration: none;
}
.footer-wrap.mw-content {
    display: block;
    height: 30px;
}
.footer-wrap .copyright {
    margin-top: 10px;
    font-size: 10.5px;
    display: block;
    text-align: center;
}

