
@media (min-device-width: 600px) {
    .form-login {
        position: absolute;
        background: rgba(246, 247, 248, 0.95);
        border-radius: 5px;
        margin: 0 auto;
        padding: 50px;
        width: 60%;
        z-index: 999;
        left: 120px; 
        transform: translateY(-550px);
    }
    .move {
        transform: translateY(80px);
        transition: 0.5s;
    }
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin-top: calc(50% - 50vw);
        margin-left: calc(50% - 50vw);
        /* background-color: rgba(0, 0, 0, 0.7); */
        z-index: -1;
    }
    .form-login .login-input {
        margin-bottom: 30px;
    }
    .form-login .login-input label {
        margin-right: 10px;
        flex: 0 0 90px;
    }
    .form-login .login-input input {
        width: 100%;
        height: 50px;
        padding: 0 15px;
        font-size: 16px;
        color: #000;
        border-radius: 3px;
    }
    .form-login .btn-login {
        width: 40%;
        margin: 0 auto;
        background: #05946a;
        color: #fff;
        border: 0;
        height: 55px;
    }
    .form-login .register {
        margin: 20px 0;
        text-align: center;
        
    }
    .form-login .register span {
        display: block;
        margin-bottom: 10px;
    }
    .form-login .register a {
        color: black;
    }
    .form-login .login-social {
        padding-top: 20px;
        border-top: 1px solid #ccc;
        text-align: center;
    }
    .form-login .login-social a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin: 15px 5px;
        border-radius: 50%;
    }
    .form-login .login-social a:nth-child(1) {
        background: #4267b2;
    }
    .form-login .login-social a:nth-child(2) {
        background: #df4a31;
    }
    .form-login .login-social a:nth-child(3) {
        background: #3489c9;
    }
    .form-login .login-social a i {
        text-align: center;
        color: white;
        width: 22px;
        height: 22px;
        margin-left: 0px;
    }
    .head-home .btn-cart i {
        width: 60px;
        height: 60px;
    }
    .ss-intro {
        background-size: cover;
    }
    .ss-intro .intro-desc h1::after {
        content: '';
        position: absolute;
        top: 40%;
        right: 0;
        width: 140%;
        height: 80%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 4px 4px 0 0;
    }
    .img-head {
        display: block;
        flex: 0 0 33%;
        margin-right: 15px;
        z-index: 4;
    }
    .w-full {
        display: flex;
        justify-content: flex-start;
        position: relative;
    }
    .w-full .icon-cls {
        width: 85%;
        z-index: 4;
    }
    .desc {
        font-size: 1rem;
    }
    .ss-product {
        margin-bottom: 170px;
    }
    .ss-product .product-wrap {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    .ss-product .product-wrap1 {
        display: flex;
        align-items: center;
    }
    .product-img {
        flex: 0 0 38%;
    }
    .product-wrap .product-info {
        text-align: right;
        margin-right: 15px;
    }
    .product-wrap1 .product-info {
        text-align: left;
        margin-left: 15px;
    }
    .product-des {
        font-size: 1rem;
    }
    .btn-wrap a {
        max-width: 160px;
        height: 55px;
    }
    .mw-content {
        display: flex;
    }
    
    .ss-guide .img-guide {
        display: flex;
        margin: -90px 0 60px;
    }
    .ss-guide .img-guide figure:nth-child(1) {
        margin: -100px 20px 0 0;
    }
    .ss-guide .img-guide svg:nth-child(2) {
        margin: -45px 0 0 0;
        transform: rotateZ(-100deg) rotateY(180deg);
    }
    .ss-guide .img-guide svg:nth-child(4) {
        margin: -190px 0 0 0;
        transform: rotateZ(-85deg);
    }
    .ss-guide .img-guide svg:nth-child(4) path {
        fill: black;
    }
    .ss-guide .img-guide figure:nth-child(3) {
        margin: -50px 20px 0 20px;
    }
    .ss-guide .img-guide figure:nth-child(5) {
        margin: -70px 20px 0 10px;
    }
    .ss-guide .mw-content {
        display: block;
    }
    .ss-guide .img-text {
        display: block;
        text-align: center;

    }
    .ss-guide .img-text img {
        width: 85%;
        max-width: 750px;
    }
    .footer-logo {
        display: flex;
        width: 60%;
        margin: 0 auto 40px;
    }
    .footer-home {
        display: block;
    }
    .footer-info a {
        font-size: 1rem;
    }
    .footer-bg .footer-email button {
        width: 50px;
        height: 50px;
    }
    .footer-bg .footer-info p i {
        width: 24px;
        height: 24px;
        flex: 0 0 24px;
    }
    input {
        height: 47px;
    }
    .footer-bg .footer-email .btn-face {
        width: 45px;
        height: 45px;
    }
    .footer-wrap.mw-content {
        display: block;
    }
}